# Virtual environments
venv/
env/
.venv/

# Environment files
.env

.streamlit/secrets.toml

# Python artifacts
__pycache__/
*.pyc

#googlesheet and consol credentials
panelstatx-271958e2a874.json


# Temporary debug files
tracked_venv.txt